<div class="recipes">
  <h3>「<%= @menu_category %>」カテゴリーの一覧</h3>
  <% if @menu_recipes.present? %>
    <% @menu_recipes.each do |recipe| %>
      <%= render partial: 'recipes/recipe_cards', locals: { recipe: recipe } %>
    <% end %>
  <% else %>
    <h5>レシピがありません</h5>
  <% end %>
</div>