<div class="recipe-new">
  <%= form_with(model: @recipe, url: result_category_frees_path, local: true) do |f| %>
    <h5 class="recipe-new__category">検索したいカテゴリーを選んでください</h5>
    <%= render partial: "search-form", locals:{f: f} %>
  <% end %>
</div>